
.advantages{
  position: relative;
  background-color: #F2F2F2 ;
  height: 770px;
  width: 100%;
  @media (min-width: $desktop-width){
    height: 1000px;
    }

}

.advantages__heading-wrapper{
  color: black;
  padding-top: 46px;
  text-align: center;
  width: auto;
  position: relative;
  background-color: white;
  height: 150px;

  @media (min-width: $tablet-width){
    padding-top: 58px;
  height: 200px;
  }

  @media (min-width: $desktop-width){
  height: 250px;
  }


  &::after{
    content: "";
    position: absolute;
    height: 55px;
    width: 100%;
   // width: calc(100% + 5px);
    transform: rotate(-3deg);
    background-color: white;
    bottom: -35px;
    left: 0;
    z-index: 100;
  }

    @media (min-width: $tablet-width){
      &::after{
      content: "";
    position: absolute;
    height: 55px;
    width: 100%;
   width: calc(100% + 5px);
    transform: rotate(-3deg);
    background-color: white;
    bottom: -30px;
    left: -5px;
    }
  }

    @media (min-width: $desktop-width){
      &::after{
    content: "";
    position: absolute;
    height: 80px;
    width: calc(100% + 5px);
    transform: rotate(-3deg);
    background-color: white;
    bottom: -50px;
    left: -5px;
}

  }
}

.advantages__heading-wrapper .advantages__heading:first-child{
  @media (max-width: $mobile-width){
  margin-bottom: 20px;
  }
}

 .advantages__heading{
  @include font-light();
  font-size: 24px;
  line-height: 28px;
  margin: 0;

  @media (min-width: $tablet-width){
    font-size: 40px;
  line-height: 54px;
  }

  @media (min-width: $desktop-width){
    font-size: 50px;
  line-height: 68px;
  }

  & br{
    display: none;
    @media (min-width: $tablet-width){
      display: block;
    }
  }
}


.advantages__subtitle{
  @include font-bold();
  font-size: 18px;
  line-height: 24px;
  color: black;
  @media (min-width: $desktop-width){
    font-size: 30px;
    line-height: 30px;
  }

}

.advantages__text{
  @include font-normal();
  font-size: 14px;
  line-height: 24px;
  color: $black;

  @media (min-width: $desktop-width){
    font-size: 18px;
    line-height: 30px;
  }
}


.advantages--wrapp{
  text-align: center;
  margin-top: 20px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 50px;
  position: relative;
  background-color: #F2F2F2;

  @media (min-width: $tablet-width){
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding-top: 0;
    height: 550px;

  }
  @media (min-width: $desktop-width){
    grid-template-columns: 1fr ;
grid-template-rows: min-content min-content;
margin: 0 auto;
  text-align: center;
  position: absolute;
  z-index: 200;
  left: 50%;
  transform: translateX(-50%);

  }




  &::after{
    content: "";
    position: absolute;
    height: 50px;
    width: 100%;
   // width: calc(100% + 5px);
    background-color: $white;
   bottom: -5px;
    left: 0;

    @media (min-width: $tablet-width){
      height: 100px;
      bottom: 0;
      z-index: 300;

    }

    @media (min-width: $desktop-width){
      display: none;
    }
  }

}

.advantages--wrapp p{
  margin-bottom: 47px;

}

.img-desctop {
  display: none;
  @media (min-width: $desktop-width){
    display: block;
  }

}





.ttyy{
  order: -1;
  @media (min-width: $desktop-width){
    order: -1;
    display: flex;
    justify-content: space-between;


  }
}


.br{
  display: block;
}



.advantages__text-wrapp{


  @media (min-width: $desktop-width){
    display: flex;
padding-top: 40px;
padding-bottom: 40px;
    text-align: center;
    justify-content: space-between;
  }
}

.iphone-img-desctop{


  @media (min-width: $tablet-width){
    position: absolute;
    left: 30px;
  top: -20px;
  z-index: 200;
  }


  @media (min-width: $desktop-width){
    position: static;
display: block;
margin: 0 62px;
}

}

.advantages__text-wrapper{
  padding-bottom: 30px;
  text-align: center;
  margin: 0 auto;


}
