.competition{
  position: relative;
  height:400px ;
  text-align: center;
  width: 100%;
  position: relative;
  @media (min-width: $tablet-width){
    height:662px;
  }

  @media (min-width: $desktop-width){
    height:584px;
  }


}

.competition__image-wrapper{
  position: relative;
  &::before{
    position: absolute;
    @include font-bold();
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    content: "Панорама дня";
    padding: 8px 0;
    height: 20px;
    width: 140px;
    background-color: #D22856;
    color: $white;
    right: 20px;
    z-index: 100;

    @media (min-width: $tablet-width){
      top: 57px;
    }

    @media (min-width: $desktop-width){
      top: 54px;
      right: 130px;
    }
  }
}


.competition__heading{
  margin: 0;
  position: absolute;
  display: block;
  height: 135px;
  padding-top: 102px;
  @include font-light();
  font-size: 24px;
  line-height: 32px;
  color:white;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  width: 100%;
  text-align: center;
  margin:0 ;

    background-image: url(../../img/back-mobile.jpg);
    @media (min-resolution:2dppx){
      background-image: url(../../img/back-mobile@2x.jpg);}



    @media (min-width: $tablet-width){
    background-image: url(../../img/back-tablet.jpg);
    @media (min-resolution:2dppx){
      background-image: url(../../img/back-tablet@2x.jpg);}
     font-size: 50px;
     line-height: 68px;
     padding-top: 191px;
     height: 249px;
    }


    @media (min-width: $desktop-width){
    background-image: url(../../img/back-desktop.jpg);
    @media (min-resolution:2dppx){
    background-image: url(../../img/back-desktop@2x.jpg);}
    padding-top: 184px;
    height: 210px;
  }



}

.competition-tablet{
  margin: 0;
  display: none;
  @media (min-width: $tablet-width){
    display: block;
  }
}

.competition__subtitle{
  margin: 0;
  position: absolute;
  display: block;
  height: 108px;
  top:237px;
  padding: 0 20px;
  padding-top: 54px;
  text-align: center;
  @include font-normal();
  font-size: 14px;
  line-height: 30px;
  color: #283645;

  @media (min-width: $tablet-width){
    height: 150px;
    top:458px;
    padding-left: 85px;
    padding-right: 85px;

    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width){
    height: 190px;
    top:394px;
    padding-left: 222px;
    padding-right: 222px;

    font-size: 18px;
    line-height: 30px;
  }
}

.card-img-main {
  display: block;
  margin: 0;
  width: 100%;
  position: relative;


}
