.main-form{
  @include font-normal();
  font-size: 18px;
  line-height: 30px;
  color: #283645;


}

.form{
  display: grid;
  grid-template-rows: auto;
  @media (min-width: $desktop-width){
    grid-template-columns: 1fr 1fr;

  }

}


.full-name-form{
border: 0;
padding: 43px 26px;
padding-top: 0;


 }

 .form-contacts{
  border: 0;
  padding: 43px 26px;
  padding-top: 0;
  margin-top: 40px;

  @media (min-width: $tablet-width){

    margin-bottom: 40px;
    border: 2px solid #E5E5E5;

    padding-top: 0;
    background-color: white;
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width){
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px ;
    padding-top: 50px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;

  .full-name-input--tel{
    order: 0;
  }

 .full-name-input--mail{
  order: 1;
 }
.full-name-label--tel{
  order: 2;
  margin: 0;
}
.full-name-label--mail{
order: 3;
margin: 0;
}




  }

 }






.full-name-input--tel{


  @media (min-width: $tablet-width){
    background: url(../../img/tell.svg) no-repeat center right;

  }
}

.full-name-input--mail{


  @media (min-width: $tablet-width){
  background: url(../../img/mail.svg) no-repeat center right;

}

}



 .full-name-form{

  @media (min-width: $tablet-width){
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  @media (min-width: $desktop-width){
    margin-top: 30px;
  }
 }


  .full-name-input{
  width: 100%;
  height: 55px;
  border: 3px solid #E5E5E5;
  border-radius: 5px;
  display: block;
  margin-bottom: 23px;
  padding: 0;

&::placeholder{
  color: #283645;
  padding-left:20px;
  @include font-normal();
  font-size: 18px;
  line-height: 30px;
}
  }

.full-name-label{
  display: block;
  color:#D22856;
  text-transform: uppercase;
  display: block;
  padding-left: 23px;


  @include font-normal();
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width){
  margin-top: 15px;
  padding-right: 20px;

  }

}


.form-legend-tablet{
  display: none;

  @media (min-width: $tablet-width){
    display: block;
    text-align: center;

    color: #D22856;
    font-size: 14px;
    line-height: 18px;
    padding-left: 30px;
    padding-right: 30px;
    text-transform:uppercase;
  }
}

.form-checkbox{
  background-color: #F2F2F2;
  position: relative;

  border: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 38px;


  @media (min-width: $tablet-width){
    margin-top: 40px;
    margin-bottom: 40px;
    border: 2px solid #E5E5E5;
    padding-top: 0;
    background-color: white;
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 60px;
    padding-right: 60px;


  }
  @media (min-width: $desktop-width){
  grid-column: 1 / 3;
    grid-row: 3 / 4;
  }



}


.form-checkbox label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;


}

.label{
 padding-left: 40px;
 padding-top: 4px;

 @include font-normal();
 font-size: 18px;
 line-height: 30px;

}

.form-checkbox li{
  list-style-type: none;
}

.input+label::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  border: 3px solid #E5E5E5;
  left: -30px;
  top: -2px;
  border-radius: 3px;


}

.input:checked+label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  background-image: url(../img/tick.svg);
  left: -20px;
  top: 10px;
  background-repeat: no-repeat;
  background-size: cover;


}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-checkbox__list{

  margin-top: 115px;

  @media (min-width: $desktop-width){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    margin-top: 10px;
  }
}

.form-checkbox li{
  margin-top: 47px;

}

.form-checkbox__legend{
  position: absolute;
  text-align: center;
  color:#D22856;
  min-width: 218px;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);

  @include font-normal();
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width){
    position: static;
    text-align: center;
    transform: translateX(0%);
    padding-left: 30px;
    padding-right: 30px;
    text-transform:uppercase;

  }

}


.main-form__gadget{
  display: grid;
  grid-template-rows: 1fr;
  background-color: #F2F2F2;
border: 0;
  margin: 0;
  position: relative;
  padding-top: 80px;
  padding-bottom: 54px;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width){
    border: 2px solid #E5E5E5;

    padding-top: 0;
    background-color: white;
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 60px;
    padding-right: 60px;
  }
}


.gadget-input+label::before{
  content: "";
  position: absolute;
  width: 29px;
  height: 29px;
  border: 3px solid #E5E5E5;
  background-color: white;
  border-radius: 50%;
  left: 5px;
}

.gadget-input:checked+label::after{
  content:"";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #D22856;
  left: 15px;
  top: 10px;

}

.gadget-label{
  position: relative;
  display: block;
  margin-top: 13px;
  cursor: pointer;
  padding-left: 60px;
  margin: 0;
  margin-top: 62px;
}


.gadget-fieldset__legend{
  text-align: center;
  position: absolute;
  top: 42px;
  left: 50%;
    transform: translateX(-50%);
    color: #D22856;
    min-width: 218px;
    font-size: 14px;


  @media (min-width: $tablet-width){
    top: 0px;
    position: static;
    text-align: center;
    transform: translateX(0%);
    padding-left: 30px;
    padding-right: 30px;
    text-transform:uppercase;
  }
}

.form-tiket{
  height: 197px;
  width: 100%;
  border: 2px solid red;
  border: 3px solid #E5E5E5;
  border-radius: 4px;

  &::placeholder{
    @include font-normal();
    font-size: 18px;
    line-height: 30px;
  }
}



.main-form__emotions{
  margin-top: 40px;
  border: 0;
  margin-bottom: 50px;


  @media (min-width: $tablet-width){  /*я тут */
    border: 2px solid #E5E5E5;

    padding-top: 0;
    background-color: white;
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 60px;
    padding-right: 60px;

  }

  @media (min-width: $desktop-width){
    grid-column: 1 / 3;
      grid-row: 4 / 5;
    }

}

.main-form__emotions-name{
  margin-bottom:19px;
  text-align: center;
  color:#D22856;

  @include font-normal();
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width){
    padding-left: 30px;
    padding-right: 30px;
  }

}





.full-name-form{    /* ФИО */
order: 0;

@media (min-width: $tablet-width){
  order: 0;
}

}
.form-contacts{     /* Номер телефона */
  order: 2;

  @media (min-width: $tablet-width){
    order: 2;
  }

}
.form-checkbox{    /* достижения в путешествии */
  order: 1;

  @media (min-width: $tablet-width){
    order: 3;
  }

}
.gadget-fieldset{   /* С каким приложением путешествовали? */
  order: 3;

  @media (min-width: $tablet-width){
    order: 1;
  }

}
.main-form__emotions{   /* опишите свои эмоции */
  order: 4;

  @media (min-width: $tablet-width){
    order: 4;
  }

}


.wrapper-button{
  text-align: center;

  @media (min-width: $tablet-width){
    margin-top: 20px;
    margin-right: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button-form{
      margin-left:45px;

    }
  }
}


.name-form-gadget__wrapp{


  @media (min-width: $desktop-width){
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

.form__small-text{
  margin-top: 46px;
  position: relative;

  &::before{
    position: absolute;
    color: #D22856;
    content: "*";
  }


  @media (min-width: $tablet-width){
    margin: 0;
  }

}
