.main-promo{
  position: relative;
}

.main-promo__sentence{
background-repeat: no-repeat;
height:460px;
width:200;
  text-align: center;
  @media (min-width: $tablet-width){
    height: 380px;
  }

  @media (min-width: $desktop-width){
    height: 450px;
  }

}

.icon-wrapper{
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  align-items: center;
  @media (min-width: $tablet-width){
    width: 220px;
    padding: 0 30px;
    margin-top: 51px;
    margin-bottom: 42px;
  }
  }

  .main-promo{
    text-align: center;
    @media (min-width: $tablet-width){
      text-align: left;
    }
  }

@media (max-width:$mobile-width){
  .main-promo__sentence{
    background-image: url(../../img/Bgmobaile.jpg);
    @media (min-resolution:2dppx){
      background-image: url(../../img/Bgmobaile@x2.jpg);
    }
    padding-top: 30px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    height:430px;
    width: auto;
    text-align: center;
    margin:0 ;

  }

  .promo-wrapper{
    background-color: $dark-blue;
    height: 206px;
    padding-top: 30px;
    padding-bottom: 35px;
  }




}

@media (min-width: $tablet-width){
  .main-promo{
    background-image: url(../../img/Bgtablet.jpg);
    @media (min-resolution:2dppx){
      background-image: url(../../img/bgtablet@x2.jpg);
    }
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
    height: 729px;
    width: auto;
    padding: 0;
    padding-top: 0;
    margin: 0;
    padding-left: 20px;
  }

}

@media (min-width: $desktop-width){
  .main-promo{
    background-image: url(../../img/bgdesctop.jpg);
    @media (min-resolution:2dppx){
      background-image: url(../../img/bgdesctop@x2.jpg);
    }
  background-repeat: no-repeat;
  background-position: 50% -9px;
  background-size: cover;
    height: 853px;
    width: auto;
    padding-top: 0;
    padding: 0;
    margin-top: 0;
    padding-left: 130px;



  }

}

.main-promo__heading{
  @include font-light();
  position: absolute;
  font-size: 24px;
  line-height: 29px;
  text-decoration:none;
  color: $white;
  margin: 0 ;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 230px;

  @media (min-width: $tablet-width){
    font-size: 40px;
  line-height: 47px;
  left: 20px;
  transform: none;
  top: 210px;
  width: 300px;
  }
  @media (min-width: $desktop-width){
    font-size: 50px;
  line-height: 68px;
  left: 110px;

  }
}


.main-promo__text{
  @include font-light();
    font-size: 14px;
    line-height: 24px;
    color: #F2F2F2;
    opacity: 80%;
    @media (min-width: $tablet-width){
      font-size: 18px;
      text-align: center;
      width: 300px;
    }
}


.promo-wrapper__positione{
  margin: 0;
  padding: 0;
}


