.nav{
  @include font-bold();
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  @media (min-width: $desktop-width){
    @include font-normal();
  font-size: 18px;
  line-height: 18px;
  text-transform: none;
  }

}

.list-nav__item a {
  text-decoration:none;
  color: $white;
  padding-top: 14px;
 }
// ТУТ //
.list-nav__item {



     width: auto;
     height: 48px;
     text-align: center;
   text-transform: uppercase;
   background-color: $dark-blue;
   border-top: 2px solid black;
   border-bottom: 2px solid $dark-blue;



   @media (min-width: $tablet-width){

      width: auto;
      height: 63px;
      text-align: center;
    text-transform: uppercase;
    background-color: $dark-blue;
    border-top: 1px solid black;
    border-bottom: 1px solid $dark-blue;
}
@media (min-width: $desktop-width){
  background-color: transparent;
  width: auto;
  height: auto;

border: 0;
padding-bottom: 8px;
}

}
.nav__list{
  list-style: none;

 }

.main-header-wrapper{
  @media (min-width: $desktop-width){
    display: flex;

  }
}
.nav__list{
  display: none;
  padding: 0;
  margin: 0;
  @media (min-width: $desktop-width){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: transparent;
    column-gap: 20%;
    margin-left: 30%;
}
 }



