.card-photoshop{
  width: auto;
  height: 374px;

  @media (min-width: $tablet-width){
      height: 400px;
      width: auto;
    }
}

.button-main{
display: grid;
grid-template-rows: 1fr ;
text-align: center;

@media (min-width: $tablet-width){
    position: absolute;
    bottom: 0;
    text-align: center;
  }

}

.photo-editor{
 background-color: #F2F2F2;
 text-align: center;
 width: auto;
 height: auto;
 margin-top: 5%;
 margin-bottom: 10%;

 @media (min-width: $tablet-width){
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    position: relative;
  }
}

.editor{
  @media (min-width: $tablet-width){
    text-align: center;
  }
}
 .slider{
    text-align: center;
      -webkit-appearance: none;
      appearance: none;
      width:202px;
      height: 2px;
      background: #283645;
      outline: red;



}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  border: 2px solid #D22856;
  border-radius: 50%;
}

.editor-wrapper{
  margin-top: 25px;
}
  .editor img{
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: $tablet-width){
        display: block;
        height: 74px;
      }
  }

  .photo-editor__icon-wrapper{
   display: flex;
   justify-content: space-between;
   padding: 0 50px;
   align-items: center;
  }
.slider--disable{
  display: none;
  text-align: center;


}

.photo-editor__line{
  margin-top: 40px;
  margin-bottom: 40px;
  height: 0.5px;
  color:#283645  ;
  background-color:#283645 ;
  border: 0;
  opacity: 50%;

}



@media (min-width: $tablet-width){
  .photo-editor__icon-wrapper{
  flex-direction:column ;
  align-items: flex-start;
  justify-content: stretch;
  padding: 0;
  width: 20px;
  }

.photo-editor__icon-wrapper img{
  margin-bottom: 20px;
  margin-top: 20px;
}
  .slider--disable{
    display: block;
    text-align: center;

  }
  .editor-wrapper{
    display: flex;
    align-items: center;
    flex-direction:column ;
    margin-left: 60px;


  }
.slider{
  margin-bottom: 38px;
  margin-top: 38px;
}
  .photo-editor__wrapper{
    display: flex;

  }
  }


  @media (min-width: $desktop-width){
.button-main{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 30px;
position: absolute;
bottom: 0;
}


  }



