.quote{
  display: none;
  @include font-normal();
  font-size: 14px;
  line-height: 24px;


  @media (min-width: $tablet-width){
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align:center;
padding-top: 62px;
    height: 280px;
  }

  @media (min-width: $desktop-width){
    font-size: 18px;
    line-height: 30px;
  }

  .quote__heading{
    @include font-bold();
    font-size: 30px;
  line-height: 36px;
  @media (min-width: $desktop-width){
    line-height: 30px;
  }
  }
}
.time-quote{
  text-align: start;
}
.time-quote a{
  color: #D22856;
}
