
.table-tariffs__desc{
  display: none;
  @include font-normal();
      font-size: 14px;
      line-height: 30px;
      text-decoration:none;
      color: $black;
      @media (min-width: $tablet-width){
        display: block;
      }

      @media (min-width: $desktop-width){
        font-size: 18px;
       }
}




.table-tariffs__standart{
  @media (max-width:$mobile-width){
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
}

.table-tariffs__price{
  display: table-cell;
}

.table-tariffs__base{
  display: none;
  @media (min-width: $tablet-width){
    display: table-cell;
  }
}


.table-tariffs__unlim{
  display: none;
  @media (min-width: $tablet-width){
    display: table-cell;
  }
}

.table-tariffs{

  color: #283645;
  margin: 0 auto;
  border-spacing: 0px;
  border-collapse: collapse;

  & td{
    background-color: $white;
    border: 2px solid #E5E5E5;
    width: 276px;
    height: 59px;
    text-align: center;

    @media (min-width: $tablet-width){
      width: 153px;
      height: 45px;
    }

    @media (min-width: $desktop-width){
      width: 234px;
      height: 59px;
    }

    & span{
      @media (min-width: $tablet-width){
        display: none;
      }

    }
  }

  .table-tariffs__desc{
    text-align: left;

    @media (min-width: $tablet-width){
    padding-left: 15px;
    width: 138px;
  }

  @media (min-width: $desktop-width){
    padding-left: 22px;
    width: 212px;

  }

  }


  .table-tariffs__tariff{
    color: $white;

    & td{
      background-color: #283645;
      width: 236px;
      height: 94px;

      text-transform: uppercase;
      border: 2px solid #F2F2F2;
      @include font-light();
      font-size: 18px;
      line-height: 30px;

      @media (min-width: $tablet-width){
        width: 152px;
        height: 75px;
        font-size: 24px;
        line-height: 30px;
      }

    @media (min-width: $desktop-width){
      width: 233px;
      height: 94px;
      font-size: 24px;
      line-height: 30px;
    }
  }
  & td:first-child{
    display: none;
    @media (min-width: $tablet-width){
      display: block;
    }
    background-color: transparent;
    border: 0;
  }
  }

}
