.tariffs{
  background-color: #F2F2F2;
  padding-top: 80px;
  padding-bottom: 40px;
  @media (min-width: $tablet-width){
    padding-top: 58px;
    padding-bottom: 70px;
  }
  @media (min-width: $desktop-width){
    padding-bottom: 98px;
  }
}

.table-tariffs__heading{
    @include font-bold();
      font-size: 16px;
      line-height: 30px;
      text-decoration:none;
      color: $white;
      margin: 0;
      @media (min-width: $desktop-width){
        font-size: 18px;
        line-height: 30px;
      }

}
