$black: #000000;
$white: #FFFFFF;
$basic-black: #283645;
$pink: #D22856;
$light-gray: #F2F2F2;
$button-green: #2AAB6D;
$dark-blue: #1D2631;
$blue: #283645;

@mixin font-light{
  font-family: "Open Sans","Arial",sans-serif;
  font-weight: 300;
}

@mixin font-normal{
  font-family: "Open Sans","Arial",sans-serif;
  font-weight: 400;
}
@mixin font-bold{
  font-family: "Open Sans Bold",normal,sans-serif;
  font-weight: 700;
}
