$mobile-width:659px;
$tablet-width:660px;
$desktop-width:960px;


@import "global/fonts.scss";
@import "global/variables.scss";
@import "blocks/button.scss";
@import "blocks/page.scss";
@import "blocks/page-body.scss";
@import "blocks/main-header.scss";
@import "blocks/nav.scss";
@import "blocks/main-promo.scss";
@import "blocks/reviews.scss";
@import "blocks/tariffs.scss";
@import "blocks/advantages.scss";
@import "blocks/quote.scss";
@import "blocks/card.scss";
@import "blocks/main-catalog";
@import "blocks/footer";
@import "blocks/photo-editor.scss";
@import "blocks/feedback.scss";
@import "blocks/competition.scss";
@import "blocks/main-form.scss";
@import "blocks/table-tariffs.scss";
@import "blocks/hover-and-activ-area.scss";

